body{
    height: 100%;
    width: 100%;
}

#home {
    background: url("/static/img/mountains.jpg") no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}

.padding {
    padding: 80px 0;
}

.padding img {
    width: 100%;
}

#fixed {
    background: url(../../img/background.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}
